name: Release to PyPi

on:
  release:
    types: [published]

jobs:
  build-release:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install poetry
        uses: abatilo/actions-poetry@3765cf608f2d4a72178a9fc5b918668e542b89b1 #v4
        with:
          poetry-version: "2.1.3"

      - name: Install Dependencies
        run: poetry install

      - name: Build
        run: poetry build

      - name: Store
        uses: actions/upload-artifact@v4
        with:
          name: python-package-dist
          path: dist/

  publish-release:
    runs-on: ubuntu-latest

    needs: build-release

    environment:
      name: pypi
      url: https://pypi.org/p/pyqoiv

    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: Download package
        uses: actions/download-artifact@v5
        with:
          name: python-package-dist
          path: dist/

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1

      - name: Add to release
        run: gh release upload ${{github.event.release.tag_name}} dist/*.whl dist/*.tar.gz
        env:
          GITHUB_TOKEN: ${{ github.TOKEN }}
